{% extends 'base/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card p-4 shadow-sm">
            <h4 class="mb-3 text-danger">Excluir cliente</h4>

            <p>
                Tem certeza que deseja excluir
                <strong>{{ client.name }}</strong>?
            </p>

            <form method="post" class="d-flex flex-column flex-md-row justify-content-end gap-2 mt-3">
                {% csrf_token %}
                <a href="{% url 'client_list' %}" class="btn btn-secondary">
                    Cancelar
                </a>
                <button class="btn btn-danger">
                    Excluir
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
