{% extends 'base/base.html' %}
{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-header">
        <h5>Confirmar Exclusão</h5>
    </div>

    <div class="card-body">
        <p>Tem certeza que deseja excluir este registro?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="javascript:history.back()" class="btn btn-secondary">
                Cancelar
            </a>
        </form>
    </div>
</div>

{% endblock %}